# Server
PORT=
NODE_ENV=

# Database
#local db - mongodb://localhost:27017/cube-highways
MONGODB_URI=

# CORS: Allow requests from the Next.js frontend (port 3000)
FRONTEND_URL=

# CORS: Allow requests from the AdminJS panel in the browser (port 3001)
BACKEND_URL=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=

# AdminJS Authentication
ADMIN_EMAIL=
ADMIN_PASSWORD=
JWT_SECRET=
